.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.appMain {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.appMain > * {
  flex: 1;
  min-height: 0;
}
